* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  position: relative;
}
.header {
  width: 100%;
  height: 50px;
  margin: 23px 0;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}
.header .h_right {
  border-radius: 10px;
  width: 15%;
  background-color: grey;
}
.header .h_center {
  border-radius: 10px;
  width: 65%;
  background-color: grey;
}
.header .h_left {
  border-radius: 10px;
  width: 15%;
  background-color: grey;
}


.left {
  width: 15%;
  background-color: grey;
  height: 300px;
  border-radius: 10px;
  margin-left: 20px;
  position: absolute;
  top: 5.5rem;
}
.right_parent{
  position: sticky;
  top: 60px;
}
.right {
  width: 15%;
  background-color: grey;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  top: 5.5rem;
  left: 65rem;

  /* margin-right: 12px; */
}

.main {
  width: 60%;
  height: 570px;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  position: absolute;
  overflow: auto;
  top: 5rem;
  left: 16rem;
}
.main::-webkit-scrollbar{
  display: none;
}

.main .logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 2rem;
}
.main .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1rem;
}
.main .material-symbols-outlined {
  margin-left: 37rem;
}
.main .about {
  width: 80%;
  position: absolute;
  left: 2rem;
  top: 5rem;
}
.main .post img {
  position: absolute;
  top: 8rem;
  left: 1rem;
  width: 722px;
  height: 343px;
  border-radius: 10px;
  border: 1px solid yellow;
}
.main .likes {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  left: -36rem;
  top: 30rem;
}
.main .likess {
  position: absolute;
  top: 3rem;
  left: 2rem;
  margin-left: 1px;
}
.main .child2 {
  position: absolute;
  top: 38rem;
  width: 100%;
  height: 570px;
  border-radius: 10px;
  background-color: grey;
}
.main .child3 {
  position: absolute;
  top: 76rem;
  width: 100%;
  height: 570px;
  border-radius: 10px;
  background-color: grey;
}
.comment {
  position: absolute;
  top: 3rem;
  left: 6rem;
  margin-left: 1px;
}
.main .send {
  position: absolute;
  top: 3rem;
  left: 10rem;
  margin-left: 1px;
}
