.nav-bar{
  background-color: gray;
  /* color: black; */
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.nav-bar .right .items{
  padding: 10px;
  text-decoration: none;
  
}
.nav-bar .right .items:hover{
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

.nav-bar .right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}